*{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 20px;
}

#nav-bar{
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#nav-bar button{
    background-color: blue;
    padding: 5px 10px;
    box-shadow: 3px 3px black;
    width: 100px;
    font-size: 18px;
    color: white;
}

#nav-bar input{
    width: 280px;
    padding: 5px 10px;
    font-size: 1rem;
}

#main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.card{
    border: 2px solid lightgrey;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card-left button{
    background-color: yellow;
    padding: 10px;
    box-shadow: 3px 3px black;
    width: 100px;;
    margin-top: 10px;

}

.card-right{
    padding: 10px;
}

.card-left{
    padding:10px;
    text-align: center;
    margin-right: 50px;
}

#col-right button{
    background-color: green;
    width: 200px;
    padding: 10px;
    box-shadow: 3px 3px black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#add-defenition{
    border: 2px solid lightgrey;
    padding: 10px 20px;
}