* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav bar */

#nav-bar {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 0px;
    width: 1000px;
}

#nav-left {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 500px;
    align-items: center;
}

#nav-left a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

#sign-out-btn {
    background-color: #19a1b7;
    padding: 10px 20px;
    font-size: 1.3rem;
    color: white;
    
}

h1 {
    font-size: 3rem;
}

ul li:first-child{
    margin-right: 20px;

}



/* main content css after the nav bar  */

#main {
    display: flex;
    padding: 0px 100px;
    justify-content: space-around;
}

.col-right {
    flex: 1;
    padding: 10px;

}

.col-left {
    flex: 3;
    padding: 10px;

}

/* info card css */

.info-card-header {
    background-color: #19a1b7;
}

#profile-pic {
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
    left: 30px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px grey;
}

#info-card-body {
    padding-left: 30px;
    border: 2px solid lightgrey;
    border-top: 0px;
    padding-top: 80px;
    padding-bottom: 10px;
}

#info-card-body p:first-of-type {
    margin-top: 10px;
}

#last-p {
    margin-bottom: 20px;
}
#map-marker {
    height: 25px;
    width: 25px;
}

#info-card-body h2 {
    font-size: 3rem;
}

#info-card-body span {
    font-size: 1.5rem;
    margin-left: 5px;
}

#gear-icon {
    height: 15px;
    width: 15px;
}


/* card css */

.card:nth-child(2) {
    margin-top: 20px;
}

.card-header {
    background-color: #333333;
    color: white;
    padding: 15px;
}

.card-body {
    padding: 10px;
    border: 2px solid lightgray;
    border-top: none;
}

.card-body>* {
    margin-bottom: 10px;
}



.person {
    display: flex;
    justify-content: space-around;
}

#dates {
    color: grey;
}

.count {
    height: 10px;
    width: 10px;
    background-color: #cbcbcb;
    border-radius: 50%;
    padding: 5px 8px;
    color: black;
    margin-right: 5px;

}

.thumbnail {

    height: 50px;
    border-radius: 50%;
    margin-right: 5px;

}

.person span, .person-connection span{
    font-size: 1rem;
    margin-right: 50px;
}

.person{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.accept-reject{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.person-connections {
    display: flex;
    align-items: center;
}

#view-more {
    border: 2px solid lightgrey;
    padding: 10px;
    border-top: none;
}