* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 0px 20px;
}

/* nav bar */

#nav-bar{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 25px;
    
}

h1{
    font-size: 35px;
}

#nav-bar input{
    height: 36px;
    width: 240px;
    font-size: 18px;
}

#nav-bar button{
    background-color: darkgoldenrod;
    padding: 2px 10px;
    font-size: 20px;
    box-shadow: 3px 3px black;;
}

#nav-search{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* main  */

#main{
    display: flex;
    gap: 20px;
    /* height: 800px; */
}

#col-right{
    flex:1;

}

#col-left{
    flex:2;

}

.puppy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 2px solid gray;
    margin-bottom: 20px;


}

.puppy-left img{
    height: 130px;
    width: 100px;
}

.puppy-left h3{
    font-size: 30px;
}

.puppy-left{
    text-align: center;
}

.puppy-left button{
    background-color: aquamarine;
    padding: 3px 15px;
    font-size: 18px;
    margin-top: 5px;
    box-shadow: 2px 2px black;

}

#upload, #video-box{
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 10px;
}

#upload>button{
    padding: 10px;
    background-color: darkorange;
    margin-top: 10px;
    box-shadow: 2px 2px black;
    font-size: 18px;
}

video{
    width: 200px;
    margin-top: 10px;
}

#cookie-box{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 15px;

}

#cookie-box img{
    height: 80px;
    width: 80px;
}

#cookie-box button{
    background-color: blue;
    color: white;
    width: 150px;
    padding: 5px 10px;
}

#cookie-box p{
    margin: 0px 10px;
}
